<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
    <ion-item>
        <ion-thumbnail slot="start">
            <img src="https://en.wikichip.org/w/images/thumb/c/c5/intel_core_i5_logo_%282012%29.svg/150px-intel_core_i5_logo_%282012%29.svg.png">
          </ion-thumbnail>
      <ion-label>
              <h2>Intel i5-8600K</h2>
              <p>Intel Core i5-8600K 3.6GHz (Coffee Lake) Socket LGA1151 Processor - OEM</p>
              <ion-text color="danger"><p><b> Rp 3.200.000,-</b></p></ion-text>
            </ion-label>
       </ion-item>
       <ion-item>
          <ion-thumbnail slot="start">
              <img src="https://en.wikichip.org/w/images/thumb/c/c5/intel_core_i5_logo_%282012%29.svg/150px-intel_core_i5_logo_%282012%29.svg.png">
            </ion-thumbnail>
          <ion-label>
              <h2>Intel i7-9700K</h2>
              <p>Intel Core i7-9700K Coffee Lake 8-Core 3.6 GHz (4.9 GHz Turbo) LGA 1151 (300 Series)</p>
              <ion-text color="danger"><p><b> Rp 4.000.000,-</b></p></ion-text>
          </ion-label>
     </ion-item>


        <ion-item>
            <ion-thumbnail slot="start">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmz4CEfXKWSWGys9CLHa8E8gcMHVyjbW14QucmLb35v_PGjGef">
              </ion-thumbnail>
            <ion-label>
                <h2>AMD Radeon</h2>
                <p>AMD Radeon Rx 300 series</p>
                <ion-text color="danger"><p><b> Rp 1.500.000,-</b></p></ion-text>
            </ion-label>
       </ion-item>

       <ion-item>
          <ion-thumbnail slot="start">
              <img src="https://en.wikichip.org/w/images/thumb/c/c5/intel_core_i5_logo_%282012%29.svg/150px-intel_core_i5_logo_%282012%29.svg.png">
            </ion-thumbnail>
        <ion-label>
                <h2>Intel i5-8600K</h2>
                <p>Intel Core i5-8600K 3.6GHz (Coffee Lake) Socket LGA1151 Processor - OEM</p>
                <ion-text color="danger"><p><b> Rp 3.200.000,-</b></p></ion-text>
              </ion-label>
         </ion-item>
         <ion-item>
            <ion-thumbnail slot="start">
                <img src="https://en.wikichip.org/w/images/thumb/c/c5/intel_core_i5_logo_%282012%29.svg/150px-intel_core_i5_logo_%282012%29.svg.png">
              </ion-thumbnail>
            <ion-label>
                <h2>Intel i7-9700K</h2>
                <p>Intel Core i7-9700K Coffee Lake 8-Core 3.6 GHz (4.9 GHz Turbo) LGA 1151 (300 Series)</p>
                <ion-text color="danger"><p><b> Rp 4.000.000,-</b></p></ion-text>
            </ion-label>
       </ion-item>
  
  
          <ion-item>
              <ion-thumbnail slot="start">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmz4CEfXKWSWGys9CLHa8E8gcMHVyjbW14QucmLb35v_PGjGef">
                </ion-thumbnail>
              <ion-label>
                  <h2>AMD Radeon</h2>
                  <p>AMD Radeon Rx 300 series</p>
                  <ion-text color="danger"><p><b> Rp 1.500.000,-</b></p></ion-text>
              </ion-label>
         </ion-item>
  
         <ion-item>
            <ion-thumbnail slot="start">
                <img src="https://en.wikichip.org/w/images/thumb/c/c5/intel_core_i5_logo_%282012%29.svg/150px-intel_core_i5_logo_%282012%29.svg.png">
              </ion-thumbnail>
          <ion-label>
                  <h2>Intel i5-8600K</h2>
                  <p>Intel Core i5-8600K 3.6GHz (Coffee Lake) Socket LGA1151 Processor - OEM</p>
                  <ion-text color="danger"><p><b> Rp 3.200.000,-</b></p></ion-text>
                </ion-label>
           </ion-item>
           <ion-item>
              <ion-thumbnail slot="start">
                  <img src="https://en.wikichip.org/w/images/thumb/c/c5/intel_core_i5_logo_%282012%29.svg/150px-intel_core_i5_logo_%282012%29.svg.png">
                </ion-thumbnail>
              <ion-label>
                  <h2>Intel i7-9700K</h2>
                  <p>Intel Core i7-9700K Coffee Lake 8-Core 3.6 GHz (4.9 GHz Turbo) LGA 1151 (300 Series)</p>
                  <ion-text color="danger"><p><b> Rp 4.000.000,-</b></p></ion-text>
              </ion-label>
         </ion-item>
    
    
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmz4CEfXKWSWGys9CLHa8E8gcMHVyjbW14QucmLb35v_PGjGef">
                  </ion-thumbnail>
                <ion-label>
                    <h2>AMD Radeon</h2>
                    <p>AMD Radeon Rx 300 series</p>
                    <ion-text color="danger"><p><b> Rp 1.500.000,-</b></p></ion-text>
                </ion-label>
           </ion-item>
              
</ion-list>
    
</ion-content>